body{
    background-color: rgb(23, 23, 23);
    margin-left: 10%;
    margin-right: 10%;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
    margin-top: 0;
    margin-left: 5px;
    color: #facc15;
    font-size: 40;
}

h2{
    color:#facc15;
    font-size: 25px;
}

.closed_access{
    display: none;
    margin-bottom: 20px;
}


p{
    color: #facc15;
    font-size: 15px;
}

a, li{
    text-decoration: none;
    color: #facc15;
    font-size: 20px;
}

fieldset{
    display: block;
}

legend{
    color: #facc15;
    font-size: 30px;
}

label{
    color: #facc15;
    font-size: 20px;
}

button, input.button{
  align-items: center;
  background-clip: padding-box;
  background-color: #facc15;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 20px;
}

.styled-table {
    background-color: #ffffff;
    border-collapse: collapse;
    border-color: #facc15;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(234, 234, 234, 0.15);
}

.note{
    background-color: #323232;
    border: 10px solid #323232;
}

.center{

    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* flex-wrap: nowrap; */
    flex-direction: column;
}

.styled-table th, 
.styled-table td{
    padding: 0px 10px;
}



.styled-table thead tr {
    background-color: #facc15;
    color: #000000;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.calendar{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    row-gap: 10px;
    
    /* flex-wrap: nowrap; */
}

.day{
    width: 13%;
    height: 50px;
    color:#facc15;
    background-color: rgb(47, 47, 47);
}

.week-day{
    text-align: center;
    font-size: 30px;
    width: 13%;
    height: 40px;
    color:#facc15;
    background-color: rgb(47, 47, 47);
}

ul.menu{
    margin-left: auto;
    margin-right: 0;
}

div.menu, div#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

ul.menu > li {
    display: inline-block;
    padding: 5px 15px;
    position: relative;  
}